doctype html
html(lang="ko")
    head
        title upload test
        meta(charset='utf-8')
        script(src='/js/upload.js' defer)
        script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js')
    
    body
        form
            input(id='upload' type="file" name='image')
            p(id='button') button
        div(id='image' style='width:100px; height:100px; border:1px solid black')